@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(
      130deg,
      rgba(246, 215, 148, 1) 5%,
      rgba(238, 113, 113, 1) 70%
    );
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
}

.main-layout {
  width: 100%;
  height: 100dvh;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 2.5fr 4fr 1.7fr;
  grid-template-rows: 70px 1fr;
}

.hover-effect:hover :not(:hover) {
  opacity: 0.7;
}

.hight-screen {
  min-height: calc(100dvh - 80px);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
