@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 w-full min-h-[100dvh] overflow-x-hidden overflow-y-auto;
  }
  ::selection {
    @apply bg-primary-500 text-white;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(
      130deg,
      rgba(246, 215, 148, 1) 5%,
      rgba(238, 113, 113, 1) 70%
    );
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }

  .rotate-180 {
    transform: rotateY(180deg);
  }
}

.hover-effect:hover :not(:hover) {
  opacity: 0.7;
}

.hight-screen {
  min-height: calc(100dvh - 80px);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.menu-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.ripple {
  width: 20px;
  height: 20px;
  position: absolute;

  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 3.5s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(200);
    opacity: 0.375;
  }
  100% {
    transform: scale(350);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}

.Toastify__toast-body {
  align-items: start;
}

.custom-scrollbar {
  overflow-y: auto;
  border-radius: 5px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #faa679 transparent; /* For Firefox */
}

table,
thead,
tbody,
tr,
td {
  border-collapse: collapse;
}
