@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 w-full min-h-[100dvh] overflow-x-hidden overflow-y-auto;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(
      130deg,
      rgba(246, 215, 148, 1) 5%,
      rgba(238, 113, 113, 1) 70%
    );
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
}

.hover-effect:hover :not(:hover) {
  opacity: 0.7;
}

.hight-screen {
  min-height: calc(100dvh - 80px);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.menu-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
